---
layout: base
---

{% include head.html %}
{% seo %}

<style>
    body {
        width: 800px;
        margin: 0 auto;
    }

    .container {
      display: flex;
      width: 800px;
      margin: 0 auto;
    }

    .sidebar {
      position: fixed;
      width: 13em;
      padding: 1em;
      overflow: auto;
      height: 100vh;
    }

    .content {
      margin-left: 14em;
    }

    /* Reduced line height and spacing for ToC items */
    .sidebar p {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
    }</style>

<body>
  <div class="page-content">
    <div class="wrapper">
      <div class="sidebar" id="toc">
        <!-- Your custom sidebar content -->
      </div>
      <div class="content">
        {{ content }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="sidebar" id="toc"></div>
    <div class="content">
      <section id="main_content">
        {{ content }}
      </section>
      {% include social.html %}
    </div>
  </div>

  {% include footer.html %}

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        fetch('/outline.html')
            .then(response => response.text())
            .then(data => {
                document.getElementById('toc').innerHTML = data;
            });
    });
  </script>
</body>
</html>
