---
layout: base
---

<style>
  .page-container {
    display: flex;
    width: 100%;
  }

  .sidebar {
    position: absolute; /* Keeps the sidebar at the left edge */
    width: 13em;
    padding: 1em;
    overflow: auto;
    height: 100vh;
  }

  .sidebar p {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
  }

  .page-content {
    padding-left: 15em; /* Gives a little space from the sidebar */
    overflow-wrap: break-word; /* Wraps the text */
    max-width: calc(100% - 15em); /* The width of the sidebar plus its padding */
    box-sizing: border-box; /* Ensures padding is included in the width */
  }
</style>  

<div class="page-container">
  <aside class="sidebar" id="outline">
    <!-- Sidebar content will be loaded here -->
  </aside>

  <main class="page-content">
    <article class="post">
      {% seo %}
      <div class="post-content">
        {{ content }}
      </div>
    </article>
  </main>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    fetch('/Board/outline.html')
      .then(response => response.text())
      .then(data => {
        document.getElementById('outline').innerHTML = data;
      });
  });
</script>


