---
layout: board
---

<style>
  .page-container {
    display: flex;
    width: 100%;
  }

  .sidebar {
    position: absolute; /* Added for positioning the sidebar */
    width: 13em;
    padding: 1em;
    overflow: auto;
    height: 100vh;
  }

  .sidebar p {
      margin: 0;
      padding: 0;
      line-height: 1.2em;
  }

  .page-content {
    flex-grow: 1;
    padding-left: 1em;
    margin-left: 14em; /* Sidebar width + padding */
    overflow-wrap: break-word; /* Ensure content wraps inside the container */
    max-width: calc(100% - 14em); /* Adjust max width to account for sidebar */
  }
</style>

<section id="page-content">
  {{ content }}

  <h2>文章：</h2>
  <ul>
  {% assign filtered_pages = site.pages | where:"categories", page.category %}
  {% assign sorted_pages = filtered_pages | sort: 'date' | reverse %}
  {% for p in sorted_pages %}
      <li>
        <a style="font-size: 2em;" href="{{ p.url | relative_url }}">{{ p.title }}</a>
        {{ p.date | date: "%B %d, %Y" }}
        <div>{{ p.content | markdownify }}</div>
      </li>
  {% endfor %}
  </ul>
</section>
